.equipment {
  margin: 0;
  padding: 0;

  .equipment__grid--box {
    background: white;
    border: 1px solid $grey-3;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-width: 240px;
    min-height: 160px;
    box-sizing: border-box;
    padding: 0 16px;
  }

  .equipment--text {
    color: $black-links;
    align-self: flex-start;
    padding: 16px 16px;
    font-weight: 500;
  }

  .equipment--arrow {
    align-self: flex-end;
    padding: 16px 16px;
  }
}
