.page {
  display: flex;
  min-height: 100%;
}

.menu {
  max-width: 320px;
  position: fixed;
}

.intro {
  flex: 1;
  margin-left: 320px;
  width: calc(100% - 320px);
}

/*media Q for changing layout tablet/phone*/

@media (max-width: 1118px) {
  .page {
    display: block;
  }

  .intro {
    margin-left: 0;
    width: 100%;
    transition: filter 0.3s ease;

    &.blurred {
      filter: blur(20px);
      pointer-events: none;
      user-select: none;
    }
  }
}
