.menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px 24px;
  box-sizing: border-box;
  overflow-y: auto;
  background: white;
  min-height: 100%;
  height: 100vh;
  overflow-y: auto;

  .icon--close {
    display: none;
  }

  nav ul {
    list-style: none;
  }

  /*text styles*/

  a {
    text-decoration: none;
    font-weight: 500;
    color: $black-links;
  }

  .web-navigation--selected,
  .language--selected {
    color: $grey-2;
  }

  .web-navigation--next,
  .menu__phone {
    font-weight: 700;
  }

  .menu__phone {
    font-size: 24px;
  }

  /*header menu style*/

  .menu__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;
  }

  .header--left {
    display: flex;
    gap: 12px;
  }

  /*web navigation style*/

  .menu__web-navigation {
    padding-bottom: 50px;
  }

  .menu__web-navigation ul {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 0;
    margin: 0;
  }

  .web-navigation--selected {
    border-left: solid 4px #41f6d7;
  }

  .web-navigation--next {
    text-shadow: 0px 2.5px 3px #ada5a5;
  }

  .menu__web-navigation a {
    display: inline-block;
    transition: transform 0.2s ease;
  }

  .menu__web-navigation a:hover {
    transform: translateX(20px);
    border-left: solid 4px $pink-logo;
    padding-left: 10px;
  }

  /*contact style*/

  .contact__icons {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }

  /*language navigation style*/

  .menu__language ul {
    display: flex;
    flex-direction: row;
    gap: 9px;
    padding: 0;
    margin: 0;
  }

  .menu__language a:hover {
    text-decoration: underline;
    color: $pink-logo;
  }

  /*media Q for the menu/button for tablet/phone*/

  @media (max-width: 1118px) {
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 100;

    &.active {
      transform: translateX(0);
    }

    .icon--close {
      display: block;
    }
  }
}
