.prices {
  .prices--mobile {
    display: none;
  }

  .prices__table {
    width: 100%;
    font-size: 14px;
    border-collapse: collapse;
  }

  .prices__table tr {
    text-align: left;
  }

  .prices__table tbody tr {
    position: relative;
  }

  .prices__table tbody tr:not(:last-child)::after {
    content: '';
    display: block;
    height: 1px;
    background-color: $grey-3;
    position: absolute;
    left: 32px;
    right: 32px;
    bottom: 0;
  }

  .prices__table tbody td,
  .prices__table thead th {
    padding: 23px 24px;
  }

  thead {
    color: $grey-2;
    font-weight: 500;
    font-size: 14px;
  }

  tbody {
    background-color: white;
  }

  .prices__link--text {
    text-decoration: none;
    color: $black-links;
    font-weight: 500;
  }

  .prices__text {
    max-width: 421px;
    width: 100%;
  }

  .prices__link {
    display: inline-flex;
  }

  .prices__link--img {
    padding-left: 95px;
  }

  .prices__button--order {
    text-transform: uppercase;
    background-color: $pink-logo;
    border: none;
    outline: none;
    color: white;
    border-radius: 16px;
    font-family: 'TT Lakes Neue Trial', sans-serif;
    font-weight: 700;
    font-size: 12px;
    width: 119px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .prices__button--img {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
  }

  /*media Q for mobile version*/

  @media (max-width: 766px) {
    .content--common {
      display: none;
    }

    .prices--mobile {
      display: block;
      background: $grey-1;
      padding: 16px;
    }
  }

  .prices__box {
    background: white;
    border: 1px solid $grey-3;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    min-width: 260px;
    min-height: 200px;
    box-sizing: border-box;
    padding: 0;
  }

  .prices__box--up,
  .prices__box--down {
    margin: 0;
    padding: 0px 16px;
  }

  .prices__box--down {
    padding-bottom: 16px;
    display: flex;
    flex-direction: column;
  }

  .prices__down--bottom-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .prices__box--down p {
    margin: 0;
  }

  .prices__box--up p {
    margin: 4px 0px;
  }

  .prices__box--title {
    font-weight: 500;
    color: $grey-2;
  }
}
