.services {
  margin: 0;
  padding: 0;

  .services--mobile {
    display: none;
  }

  /*layout*/

  .services {
    max-width: 1120px;
    margin: 0 auto;
  }

  .services__grid--box img {
    display: block;
  }

  .services__grid--box {
    background: white;
    border: 1px solid $grey-3;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-width: 240px;
    min-height: 72px;
    box-sizing: border-box;
    padding: 0 16px;
  }

  /*button*/

  /*mediaQ for tablet version*/

  @media (min-width: 767px) and (max-width: 1118px) {
    .services__grid {
      grid-template-columns: repeat(3, 224px);
    }
  }

  /*mediaQ for mobile version*/

  @media (max-width: 766px) {
    .services__content {
      display: none;
    }

    .services--mobile {
      display: block;
      background: $grey-1;
      padding: 16px;
    }

    .services__header {
      padding-left: 16px;
      margin: 0;
    }

    .header--brands {
      line-height: 1.4;
      word-break: keep-all;
      padding: 0;
    }

    .swiper-slide {
      width: 240px;
    }
  }

  /*swiper JS*/

  .swiper {
    width: 100%;
    padding-bottom: 40px;
  }

  .swiper-wraper {
    padding-left: 16px;
  }

  .swiper-slide {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    border: 1px solid $grey-3;
    min-height: 72px;
    box-sizing: border-box;
    padding: 0 16px;
  }

  .swiper-pagination {
    margin-top: 16px;
  }

  .swiper-pagination-bullet {
    background: #d0d0d0;
    opacity: 1;
  }

  .swiper-pagination-bullet-active {
    background: $grey-2;
  }
}
