$bgColor: white;
$text: black;

@font-face {
  font-family: 'TT Lakes Neue Trial';
  src: url('../fonts/tt_lakes_neue/TT-Lakes-Neue-Trial-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'TT Lakes Neue Trial';
  src: url('../fonts/tt_lakes_neue/TT-Lakes-Neue-Trial-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'TT Lakes Neue Trial';
  src: url('../fonts/tt_lakes_neue/TT-Lakes-Neue-Trial-Bold.ttf');
  font-weight: 700;
}

@import './variables.scss';
@import './blocks/shared';
@import './blocks/menu.scss';
@import './blocks/intro.scss';
@import './blocks/services.scss';
@import './blocks/equipment.scss';
@import './blocks/layout.scss';

body {
  padding: 1rem;
  margin: 0;
  font-family: 'TT Lakes Neue Trial', sans-serif;
  background-color: $bgColor;
  color: $text;
}
