$bgColor: #24292e;
$text: #fff;

@font-face {
  font-family: 'TT Lakes Neue Trial';
  src: url('../fonts/tt_lakes_neue/TT-Lakes-Neue-Trial-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'TT Lakes Neue Trial';
  src: url('../fonts/tt_lakes_neue/TT-Lakes-Neue-Trial-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'TT Lakes Neue Trial';
  src: url('../fonts/tt_lakes_neue/TT-Lakes-Neue-Trial-Bold.ttf');
  font-weight: 700;
}

body {
  padding: 1rem;
  margin: 0;
  font-family: 'TT Lakes Neue Trial', sans-serif;
  background-color: $bgColor;
  color: $text;
}
