// colors

$pink-logo: #ff3e79;
$grey-1: #f8f8f8;
$grey-2: #7e7e82;
$grey-3: #eaeaea;
$black-links: #1b1c21;
$blue-1: #d9fff5;

// fonts

$font-regular: 'TT Lakes Neue Trial', sans-serif;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
