// colors

$pink-logo: #ff3e79;
$grey-2: #7e7e82;
$black-links: #1b1c21;

// fonts

$font-regular: 'TT Lakes Neue Trial', sans-serif;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
